<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>spider</title>
  <link rel="stylesheet" href="index.css">
</head>
<body>
  <div id="app">
    <div style="width: 90%; max-width: 1500px; margin:0 auto; margin-top: 30px;"  v-cloak>
      <div class="form">
        <div class="form-item">采集的时候会将代采集地址拼接到代理地址后面再请求</div>
        <div class="form-item">
          <label for="">代理地址:</label><input type="text" v-model="form.proxyUrl" style="width:600px;">
        </div>
        <div class="form-item">
          <label for="">采集地址:</label><input type="text" v-model="form.url" style="width:600px;" @blur="getFields">
        </div>
        <!-- <div class="form-item">
          <label for="">设置编码:</label>
          <select v-model="form.charset">
            <option value="UTF-8">UTF-8</option>
            <option value="GBK">GBK</option>
          </select>
        </div> -->
        <!-- <div class="form-item">
          <label for="">列表选择器:</label><input type="text" v-model="form.listSelector" />
        </div> -->
        <div class="flex">
          <div class="form-item">
            <label for="">文章 a标签选择器:</label><input type="text" v-model="form.articlelSelector" />
          </div>
          <div class="form-item">
            <label for="">文章内正文选择器:</label><input type="text" v-model="form.contSelector" />
          </div>
        </div>
        <div class="flex">
          <div class="form-item">
            <label for="">文章内标题选择器:</label><input type="text" v-model="form.titleSelector" placeholder="为空则取列表页标题" />
          </div>
          <div class="form-item">
            <label for="">文章内日期选择器:</label><input type="text" v-model="form.dateSelector"/>
          </div>
        </div>
        <div class="form-item">
          <label for="">文章内容删除, |隔开:</label><input type="text" v-model="form.contDel"/>
        </div>
        <div class="flex">
          <div class="form-item">
            <label for="">只采集纯文本:</label>
            <select v-model="form.isText">
              <option value="1">是</option>
              <option value="0">否</option>
            </select>
          </div>
          <div class="form-item" v-show="form.isText == '0'">
            <label for="">保留标签,逗号隔开:</label><input type="text" v-model.trim="form.tags"/>
          </div>
        </div>
        <div class="form-item">
          <label for="">是否分页:</label>
          <select v-model="form.isPage">
            <option value="1">是</option>
            <option value="0">否</option>
          </select>
        </div>
        <div class="form-item" v-show="form.isPage == '1'">
          <label for="">分页地址,数字用{ID}:</label><input type="text" v-model="form.pageUrl" style="width:520px;">
        </div>
        <div class="flex">
          <div class="form-item" v-show="form.isPage == '1'">
            <label for="">起始页码:</label><input type="text" v-model="form.pageStart" style="width: 100px;" />
          </div>
          <div class="form-item" v-show="form.isPage == '1'">
            <label for="">结束页码:</label><input type="text" v-model="form.pageEnd" style="width: 100px;"/>
          </div>
          <div class="form-item">
            <label for="">采集延迟ms:</label><input type="text" v-model.number="form.delay" style="width: 100px;" />
          </div>
        </div>
        <div class="form-item">
          <label for="">内容自定义:</label>
          <div class="inline">
            <div class="mb8" v-for="(item, ind) in form.fields">
              <input type="text" v-model.number="item.key" style="width: 126px; margin-right: 8px;" placeholder="字段名" />
              <input type="text" v-model.number="item.val" style="margin-right: 8px;"  placeholder="内容页筛选器" />
            </div>
            <div class="mb8">
              <button success @click="addField">添加</button><button danger @click="delField">删除</button>
            </div>
          </div>
        </div>
        <div class="form-item">
          <button primary @click="previewList">预览</button>
          <button @click="spideJson(false)">采集Json</button>
          <button @click="spideJson(true)">采集美化Json</button>
        </div>
      </div>
      <div class="spide-list">
        <div class="total clearfix">
          <span class="ftl" v-show="spideTotal">采集进度: {{ spideCurr }} / {{ spideTotal }}</span>
          <span class="ftr">共计 {{ dataList.length }} 条</span>
        </div>
        <table>
          <tr>
            <th width="60">序号</th>
            <th>文章标题</th>
            <th>文章地址</th>
            <th aligin="center" width="150">操作</th>
          </tr>
          <tr v-for="(item, ind) in dataList" :key="ind">
            <td>{{ ind + 1 }}</td>
            <td>{{ item.title }}</td>
            <td><a target="_blank" :href="item.href">{{ item.href }}</a></td>
            <td><button @click="preview(item)">预览</button></td>
          </tr>
        </table>
      </div>
      <div class="dialog-box" v-if="dialogShow">
        <div class="dialog-mask" @click="dialogShow = false"></div>
        <div class="dialog-cont">
          <div class="dialog-close" @click="dialogShow = false">&times;</div>
          <h3 v-html="dialogTitle" v-show="dialogTitle" class="text-center mb8"></h3>
          <div class="prewrap" v-html="dialogHtml"></div>
        </div>
      </div>
    </div>
  </div>

    <script src="https://cdn.bootcdn.net/ajax/libs/vue/3.3.4/vue.global.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/1.5.0/axios.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="./index.js"></script>
</body>
</html>